<ion-header translucent no-border>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="light">
      <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
      Favorites
    </ion-button>
  </ion-buttons>
  <ion-title>&nbsp;</ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" src="https://image.shutterstock.com/image-vector/abstract-lines-dots-connect-background-600w-1492332182.jpg"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>