.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.sc-ion-card-md-s img { 
  width: 30 !important;
}

.swiper-pagination-bullet {
  --bullet-background: #000000 !important;
  width: 12px;
  height: 12px;
}