<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">11Cart</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="/assets/images/slider/1.jpg" alt="" />
    </ion-slide>
    <ion-slide>
      <img src="/assets/images/slider/2.jpg" alt="" />
    </ion-slide>
    <ion-slide>
      <img src="/assets/images/slider/3.jpg" alt="" />
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title class="ion-text-center">
        <h3>Shop By Category</h3>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let item of [1, 2, 3]">
          <ion-col size="6" >
            <img src="/assets/images/category-home/bakery-diary.jpg" height="150" alt="" />
            <p class="ion-text-center">Lorem ipsum dolor</p>
          </ion-col>
          <ion-col size="6" class="ion-align-self-center">
            <img src="/assets/images/category-home/cleaning.jpeg" height="150" alt="" />
            <p class="ion-text-center">Lorem ipsum dolor</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button color="primary" expand="block" shape="round" fill="outline">View More</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- product list starts here -->
    <!-- <ion-label class="ion-text-center">
      <h2>Browse Products</h2>
    </ion-label> -->
    <ion-list>
      <ion-list-header color="primary">
        <h2 class="ion-text-center">Browse Products</h2>
      </ion-list-header>
      <ion-item class="ion-no-padding" color="light" *ngFor="let item of [1, 2, 3, 4]">
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="ion-margin-top">
              <img src="/assets/images/category-home/bakery-diary.jpg" height="160" alt="" />
            </ion-col>
            <ion-col size="8" class="ion-padding-start">
              <h4>Product Name</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <small>500gm</small>
              <h5>Rs. 200</h5>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  <!-- product list ends here -->

  <ion-router-outlet main></ion-router-outlet> 


</ion-content>

<!-- <ion-router-outlet main></ion-router-outlet> -->