<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">11Cart</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="/assets/images/slider/1.jpg" alt="" />
    </ion-slide>
    <ion-slide>
      <img src="/assets/images/slider/2.jpg" alt="" />
    </ion-slide>
    <ion-slide>
      <img src="/assets/images/slider/3.jpg" alt="" />
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title class="ion-text-center">
        <h3>Shop By Category</h3>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let category of categories; let i = index">
              <ng-container *ngIf="i < 6; else categoryButton">
                <ion-img [src]="category.imageUrl" height="150" width="150" [alt]="category.name"></ion-img>
                <p class="ion-text-center ion-padding">{{ category.name }}</p>
              </ng-container>
            </ion-col>
            <!-- <ion-col size="6" *ngIf="i < 6; else categoryButton">
              <img [src]="category.imageUrl" height="150" alt="" />
              <p class="ion-text-center ion-padding">{{ category.name }}</p>
            </ion-col> -->
        </ion-row>
      </ion-grid>
      <ng-template #categoryButton>
        <ion-button [routerLink]="['/tabs/tab2']" color="primary" expand="block" shape="round" fill="outline">View More</ion-button>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <!-- product list starts here -->
    <!-- <ion-label class="ion-text-center">
      <h2>Browse Products</h2>
    </ion-label> -->
    <ion-list>
      <ion-list-header color="primary">
        <h2 class="ion-text-center">Browse Products</h2>
      </ion-list-header>
      <ion-item class="ion-no-padding" color="light" *ngFor="let item of items">
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="ion-margin-top">
                <ion-img [src]="item.imageUrl" height="160" alt=""></ion-img>
            </ion-col>
            <ion-col size="8" class="ion-padding-start">
              <h4>{{ item.name }}</h4>
              <p>{{ item.description }}</p>
              <!-- <small>500gm</small> -->
              <h5>{{ item.price | currency:'INR' }}</h5>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  <!-- product list ends here -->

  <ion-router-outlet main></ion-router-outlet> 


</ion-content>

<!-- <ion-router-outlet main></ion-router-outlet> -->