.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  border: 1px solid #ccc;

  ion-img {
    margin-top: 8px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }

  ion-label {
    font-size: 1rem;
    align-self: center;
    color: #000000;
    text-align: center;
  }
}
